name: Android Kernel Build

on:
  workflow_dispatch:
    inputs:
      arch:
        description: "Target arch"
        required: true
        default: "aarch64"
      tag:
        description: "Android GKI tag"
        required: true
        default: "android13-5.15"
  push:
    tags:
      - "v*"

jobs:
  prepare-module:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload dummy module source
        uses: actions/upload-artifact@v4
        with:
          name: ksu-dummy-module
          path: ci/ksu_dummy_module

  build-gki-module:
    needs: prepare-module
    runs-on: ubuntu-22.04
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: "true"
          remove-android: "true"

      - name: Build with Android kernel build action
        uses: feicong/android-kernel-build-action@main
        with:
          arch: ${{ github.event.inputs.arch || 'aarch64' }}
          tag: ${{ github.event.inputs.tag || 'android13-5.15' }}
          module-name: ksu_dummy
          module-path: ksu-dummy-module

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: output

      - name: Publish GitHub release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: output/**
